[Unit]
Description=motionEye server
After=local-fs.target network.target

[Service]
User=motion
Environment="LANGUAGE=en_EN"
RuntimeDirectory=motioneye
LogsDirectory=motioneye
StateDirectory=motioneye
#ExecStart=/usr/bin/meyectl startserver -c /etc/motioneye/motioneye.conf
ExecStart=/usr/bin/meyectl startserver -c /home/lucas/.motioneye/motioneye.conf
User=lucas
Type=simple
Restart=on-abort
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99

[Install]
WantedBy=multi-user.target
